<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.g10.chit_chat.chatapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register.view.RegisterActivity" />
        <activity android:name=".main.view.MainActivity" />
        <activity android:name=".chat.view.ChatActivity"
            android:parentActivityName=".main.view.MainActivity">
            <intent-filter>
                <action android:name="CHATTING_ACIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".utils.firebase.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.g10.chit_chat.chatapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".settings.view.SettingActivity"
            android:parentActivityName=".main.view.MainActivity" />
        <activity
            android:name=".gallery.view.GalleryActivity"
            android:parentActivityName=".chat.view.ChatActivity" />
        <activity android:name=".gallery.view.GalleryFullScreen"></activity>
        <activity android:name=".searchuser.SearchUserActivity"
            android:parentActivityName=".main.view.MainActivity" />
        <activity android:name=".group.addmembers.AddGroupMembersActivity"
            android:parentActivityName=".main.view.MainActivity" />
        <activity android:name=".group.register.RegisterGroupActivity" />
        <activity android:name=".group.groupmembers.GroupMembersActivity"
            android:parentActivityName=".chat.view.ChatActivity"/>
        <activity android:name=".group.newmember.NewMemberActivity"></activity>
        <activity android:name=".settings.view.UsernameUpdateActivity"
            android:parentActivityName=".settings.view.SettingActivity"></activity>
    </application>

</manifest>
